body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(7 27 82 / 100%) 0%, rgb(0 128 128 / 100%)  100%);
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-button:decrement

::-webkit-scrollbar-button{
  background: rgb(18 13 87);
}

::-webkit-scrollbar-track{
  border-radius: 10px;
  background:rgb(18 13 87) ;
  border-color: rgb(18 13 87);
}

::-webkit-scrollbar-thumb{
  background: rgb(69 69 156);
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cardlist {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#card {
  width: 250px;
}


#robotitle {
  font-family: "Press Start 2P", sans-serif;
  color:rgb(8 8 46);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

#search-box {
  border-radius: 10px;
  text-decoration: none;
  width: 10rem;
  height: 2rem;
  border-color:aquamarine;
  background-color: aquamarine;
  color: black;
}