#scroll{
    overflow:scroll;
    overflow-x: hidden;
    border: 5px solid rgb(8, 7, 51);
    height: 400px;
    
}

::-webkit-scrollbar{
    width: 10px;}

::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(18, 13, 87) ;
}

::-webkit-scrollbar-thumb{
    background: rgb(69, 69, 156);
    border-radius: 10px;
}